{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ car }} | STEERR{% endblock %}
{% block reviews_active %}active{% endblock %}

{% block body %}

<div class="container-fluid"><p></p>

	{% if messages %}
    	{% for message in messages %}
    		<div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable fade show"{% endif %}>
 				{{ message }}
 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  					<span aria-hidden="true">&times;</span>
  				</button>
			</div>
   		{% endfor %}
	{% endif %}

	<h3 class="car-title">{{ car }}</h1>

		<div id="images">
			<img src="{{ car.url }}" class="img-fluid" max-width="100%">
		</div><br>

	{% if user.is_authenticated %}
		<form action="{% url 'reviews:car-subscribe-us' car_id=car.id sort='us' %}" method="GET">
	   	    {% if car not in user.subscriptions.cars_us.all %}
				<button type="submit" class="btn btn-success btn-lg" name="subscribe"><b>Subscribe</b> to this car</button>
		    {% else %}
				<button type="submit" class="btn btn-danger btn-md" style="background-color: crimson" name="unsubscribe">Unsubscribe from this car</button>
		    {% endif %}
		</form>
	{% endif %}

	<br>
		<ul class="list-group">

			<li class="list-group-item">
				<img src="/static/reviews/images/car_icon.png" class="car_icon">This is a <strong>{{ car.classification.lower }}</strong> of <strong>{{ car.body_type.lower }}</strong> body type wtih <strong>{{ car.drive_type.lower }}</strong>.
			</li>

			<li class="list-group-item">
				<img src="/static/reviews/images/drive_icon.png" class="drive_icon">It's got a <strong>{{ car.engine_type.lower }}</strong> engine with <strong>{{ car.transmission.lower }}</strong> transmission.
			</li>

			<li class="list-group-item">
				<img src="/static/reviews/images/star_icon.png" class="star_icon"> 
				{% if car.reviewus_set.all %}
					Currently, there are <strong>{{ car.reviewus_set.all|length }}</strong> review{{ car.reviewus_set.all|pluralize }} for this car and its 

					<button type="button" class="btn btn-warning btn-md" style="position: relative; top: -2px; margin: 0px 0; padding: 3px 6px" data-toggle="popover" data-placement="top" title="STEERRating" data-content="We calculate a weighted average rather than the arithmetic mean of review ratings. It takes into account various factors such as the number of reviews, review votes, reviewer's experience and so on, resulting in a more accurate evaluation.">STEER<strong>R</strong>ating</button>

					is <strong style="font-size: 20px">{{ average_rating }}</strong>/10.
				{% else %}
					There are no reviews for this car yet.
				{% endif %}
			</li>

<script>
	$(function () {
		$('[data-toggle="popover"]').popover()
		})
</script>
	
			<li class="list-group-item">
				<img src="/static/reviews/images/dollar_icon.png" class="dollar_icon"> <strong>Price</strong> range is 
				{% if car.listingus_set.all %}
					between <strong>${{ min_price|intcomma }} – {{ max_price|intcomma }}</strong>. <a href="{% url 'marketplace:car-listings-us' make=car.make model=car.model trim=car.trim version=car.version year=car.year %}" class="btn btn-primary btn-md" style="position: relative; top: -2px; margin: 0px 0; padding: 3px 6px">See all listings</a>
				{% else %}
					not available as there are no <a href="{% url 'marketplace:car-listings-us' make=car.make model=car.model trim=car.trim version=car.version year=car.year %}" class="btn btn-primary btn-md" style="position: relative; top: -2px; margin: 0px 0; padding: 3px 6px">listings</a> for this car yet.
				{% endif %}
			</li><br>

		</ul>

<div id="accordion" role="tablist">

	<div class="card">
		<div class="card-header" role="tab" id="headingOne">
			<h5 class="mb-0">
				<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Engine</a>
			</h5>
		</div>
		<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">

				<li><strong>Type:</strong> 
				{{ car.engine_type }}</li>
				<li><strong>Displacement:</strong> 
				{{ car.base_engine_size_l }} L {{ car.cylinders }}</li>
				<li><strong>Fuel type:</strong> 
				{{ car.fuel_type }}</li>
				<li><strong>Power:</strong> 
				{{ car.horsepower_hp }} HP @ {{ car.horsepower_rpm|default_if_none:"N/A" }} rpm</li>
				<li><strong>Torque:</strong> 
				{{ car.torque_ft_lbs }} ft-lbs @ {{ car.torque_rpm|default_if_none:"N/A" }} rpm</li>
				<li><strong>Transmission:</strong> 
				{{ car.transmission }}</li>
				<li><strong>Mileage:</strong> 
				{{ car.epa_mileage_mpg|default_if_none:"N/A" }}</li>
				<li><strong>Range:</strong> 
				{{ car.range_miles|default_if_none:"N/A" }}</li>				

			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" role="tab" id="headingTwo">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Body</a>
			</h5>
		</div>
		<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="card-body">

				<li><strong>Length:</strong> {{ car.length_in }} in</li>
				<li><strong>Width:</strong> {{ car.width_in }} in</li>
				<li><strong>Height:</strong> {{ car.height_in }} in</li>
				<li><strong>Wheelbase:</strong> {{ car.wheelbase_in }} in</li>
				<li><strong>Curb weight:</strong> 
				{% if not car.curb_weight_lbs %}N/A
				{% else %}{{ car.curb_weight_lbs }} lbs{% endif %}</li>
				<li><strong>Cargo capacity:</strong> 
				{% if not car.cargo_capacity_cu_ft %}N/A
				{% else %}{{ car.cargo_capacity_cu_ft }} cu ft (Max. {{ car.maximum_cargo_capacity_cu_ft }} cu ft){% endif %}</li>
				<li><strong>Fuel tank:</strong> 
				{% if not car.fuel_tank_capacity_gal %}N/A
				{% else %}{{ car.fuel_tank_capacity_gal }} gal{% endif %}</li>
				<li><strong>Turning circle:</strong> 
				{% if not car.turning_circle_ft %}N/A
				{% else %}{{ car.turning_circle_ft }} ft{% endif %}</li>

		</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" role="tab" id="headingThree">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Interior</a>
			</h5>
		</div>
		<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
			<div class="card-body">

				<li><strong>Front head room</strong> {{ car.front_head_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Front hip room:</strong> {{ car.front_hip_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Front leg room:</strong> {{ car.front_leg_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Front shoulder room:</strong> {{ car.front_shoulder_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Rear head room</strong> {{ car.rear_head_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Rear hip room:</strong> {{ car.rear_hip_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Rear leg room:</strong> {{ car.rear_leg_room_in|default_if_none:"N/A" }} in</li>
				<li><strong>Rear shoulder room:</strong> {{ car.rear_shoulder_room_in|default_if_none:"N/A" }} in</li>

		</div>
	</div>

</div>

<br><h2>Reviews</h2>

{% if user.is_authenticated %}
	{% if user.id in review_users %}
		<p>You have reviewed this car.</p><br>
	{% else %}
		Share <strong>your</strong> impressions!<br><br>

		<form action="" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			{{ form.as_p }}
			<p></p><input type="submit" class="btn btn-secondary" value="Post" />
		</div>
		</form><br>
	{% endif %}
{% else %}
	<p><a href="{% url 'home:register' %}" class="btn btn-primary btn-md" style="position: relative; top: -2px; margin: 0px 0; padding: 3px 6px">Register or login</a> and share <strong>your</strong> impressions!</p><br>
{% endif %}

{% if reviews %}
	{% if not sort %}
		<p><a href="{% url 'reviews:car-us-sort' make=car.make model=car.model trim=car.trim version=car.version year=car.year sort='best' %}"><button type="button" class="btn btn-success btn-sm">Sort by Best</button></a></p>
	{% elif sort == 'best' %}
		<p><a href="{% url 'reviews:car-us' make=car.make model=car.model trim=car.trim version=car.version year=car.year %}"><button type="button" class="btn btn-primary btn-sm">Sort by Latest</button></a></p>
	{% endif %}
{% endif %}

{% for review in reviews %}
	<div class="review">
		<h5>{{ review.title }}</h5> @<a href="{% url 'home:member' review.user.username %}">{{ review.user }}</a> ({{ review.created.date }})<br>
		<p><kbd>{{ review.rating }}/10</kbd></p>
		<p>{{ review.text|linebreaks }}</p>
		
		<form action="{% url 'home:content-vote' username=review.user.username category='reviews_us' content_id=review.id %}" method="GET" {% if user == review.user or not user.is_authenticated %}onclick="return false;"{% endif %}>
		<div class="form-group" style="background-color: rgba(17,17,17,0.1); margin-bottom: 10px">
	    	<button type="submit" class="fa fa-thumbs-up" name="vote-up"></button>
	    	{% if review.vote_score > 0 %}
	    		<strong style="color: green">{{ review.vote_score }}</strong>
	    	{% elif review.vote_score < 0 %}
	    		<strong style="color: crimson">{{ review.vote_score }}</strong>
	    	{% endif %}
	    	<button type="submit" class="fa fa-thumbs-down" name="vote-down"></button>
	    </div>
		</form>
	</div>
{% endfor %}

</div>

{% endblock %}