{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ member }} | STEERR{% endblock %}
{% block body %}

<div class="container-fluid">

	<h1 class="member-title">{{ member }} 
		{% if user != member and user.is_authenticated %}
		<form action="{% url 'home:member-subscribe' member.username %}" method="GET" style="display: inline">
	   	    {% if member.subscriptions not in user.subscriptions.members.all %}
				<button type="submit" class="btn btn-primary btn-lg" style="background-color: green" name="subscribe"><b>Follow</b></button>
		    {% else %}
				<button type="submit" class="btn btn-primary btn-md" style="background-color: crimson" name="unsubscribe">Unfollow</button>
		    {% endif %}
		</form>
		{% endif %}
	</h1>

	{% if user == member %}
		<form action="" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			{{ form.as_p }}
			<p></p><input type="submit" class="btn btn-default" value="Post" />
		</div>
		</form>
	{% endif %}

	{% for content in feed reversed %}
		{% if content in reviews %}
			<div class="review">
				@<a href="">{{ content.user }}</a> ({{ content.created.date }})<br>
				<h4><a href="{% url 'car' make=content.car.make years=content.car.years %}">{{ content.car.make }} {{ content.car.version }} ({{ content.car.years_sold }})</a></h4>
				<p><kbd>{{ content.rating }}/10</kbd> <i>{{ content.title }}</i></p>
			</div>
		{% elif content in listings %}
			<div class="listing">
				@<a href="">{{ content.user }}</a> ({{ content.created.date }})<br>
				<h4><a href="{% url 'car-listing' make=content.car.make years=content.car.years listing_id=content.id %}">{{ content.title }}</a></h4>
				<p><kbd>{{ content.year }} {{ content.car.make }} {{ content.car.version }}</kbd> {{ content.mileage }} km, ${{ content.price|intcomma }}</p>
				<p></p>
			</div>
		{% elif content in opinions %}
			<div class="opinion">
				@<a href="">{{ content.user }}</a> ({{ content.created.date }})<br>
				<img src="/{{ content.photo }}" class="img-responsive" width="980px">
				<p>{{ content.text|linebreaks }}</p>
				
				<form action="{% url 'home:opinion-vote' username=content.user.username opinion_id=content.id %}" method="GET" {% if user == content.user or not user.is_authenticated %}onclick="return false;"{% endif %}>
				<input type="hidden" name="member" value="1" />
				<div class="form-group" style="background-color: rgba(17,17,17,0.1)">
		    		<button type="submit" class="glyphicon glyphicon-thumbs-up" name="vote-up"></button>
		    		{% if content.vote_score > 0 %}
		    			<strong style="color: green">{{ content.vote_score }}</strong>
		    		{% elif content.vote_score < 0 %}
		    			<strong style="color: red">{{ content.vote_score }}</strong>
		    		{% endif %}
		    		<button type="submit" class="glyphicon glyphicon-thumbs-down" name="vote-down"></button>
		    	</div>
				</form>
			</div>
		{% endif %}
	{% endfor %}

</div>


{% endblock %}