{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ member }} | STEERR{% endblock %}
{% block body %}

<div class="container-fluid"><p></p>

	{% if user == member or user.is_superuser %}
		<form action="" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			{% if member.subscriptions.cars.all or member.subscriptions.cars_us.all or member.subscriptions.members.all %}
				Subscriptions:
				<p>{% for x in member.subscriptions.cars.all %}
				<p><a href="{% url 'reviews:car' make=x.make years=x.years body_type=x.body_type %}" class="btn btn-success btn-responsive">{{ x }}</a></p>
				{% endfor %}
				{% for x in member.subscriptions.cars_us.all %}
				<p><a href="{% url 'reviews:car-us' make=x.make model=x.model trim=x.trim version=x.version year=x.year %}" class="btn btn-success btn-responsive">{{ x }}</a></p>
				{% endfor %}</p>
				<p>{% for x in member.subscriptions.members.all %}
				<p><a href="{% url 'home:member' x.user.username %}" class="btn btn-success btn-responsive">@{{ x.user.username }}</a></p>
				{% endfor %}</p>
			{% endif %}
			{% csrf_token %}
			{{ userupdateform.as_p }}

			{% for field in profileform %}
				<p>
				{{ field.errors }}
		        {{ field.label_tag }}
		        {% if field.label == 'Profile picture (< 1 MB)' %}
		        	{% if field.value %}
			            <br/><img src="/{{ field.value.url }}" class="img-fluid"></img></br>
			            <input type="checkbox" name="photo-clear" id="photo-clear_id" />
						<label for="photo-clear_id">Clear current</label><br />
						Change:
						<input type="file" name="photo" id="id_photo" />
					{% else %}
						{{ field }}
					{% endif %}
		        {% else %}
		        	{{ field }}
		        {% endif %}
		    	</p>
		    {% endfor %}

			<p></p><input type="submit" class="btn btn-primary" value="Update" />
		</div>
		</form>
	{% else %}
		<div class="alert alert-warning">
  			You don't have permission to edit this content. <a href="{% url 'home:member' member %}" class="alert-link">Visit {{ member }}'s profile</a>
		</div>
	{% endif %}

{% endblock %}