{% extends "base.html" %}

{% block title %}Login | STEERR{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}

<div class="container-fluid"><p></p>

<form method="post">
    {% csrf_token %}
    <p><label for="id_username">Username:</label> <input class="form-control" type="text" name="username" autofocus maxlength="254" required id="id_username" /></p>
	<p><label for="id_password">Password:</label> <input class="form-control" type="password" name="password" required id="id_password" /></p>
  	
  	<button type="submit" class="btn btn-primary btn-md">Login</button>
 </form>

<div class="container-fluid">

{% endblock %}