{% extends "base.html" %}

{% block title %}Register | STEERR{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}

<div class="container-fluid"><p></p>

	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary btn-md">Register</button>
	</form><br>

	<p><a href="{% url 'home:login' %}" class="btn btn-success btn-md">Already a member? Login!</a></p><br>

<div class="container-fluid">

{% endblock %}