{% extends "base.html" %}
{% load humanize %}

{% block title %}Marketplace | STEERR{% endblock %}
{% block marketplace_active %}active{% endblock %}

{% block body %}

<div class="container-fluid"><p></p>

	{% if messages %}
    	{% for message in messages %}
    		<div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable fade show"{% endif %}>
 				{{ message }}
 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  					<span aria-hidden="true">&times;</span>
  				</button>
			</div>
   		{% endfor %}
	{% endif %}

	{% if not make and not car %}
		<div class="card">
			<div class="card-body">
				<img src="/static/reviews/images/us_flag.png" class="us_flag"> For American cars <a href="{% url 'marketplace:make-select-us' %}">click here</a>.
			</div>
		</div>
	{% endif %}

	{% if not user.is_authenticated %}
		{% if car %}
			<a href="{% url 'home:register' %}" class="btn btn-primary btn-lg"><strong>Register</strong> to sell your car!</a><p></p>
		{% else %}
			<ul class="list-group">

				{% if make %}
					<li class="list-group-item">
						<strong>Make:</strong> {{ make }}
					</li>
				{% endif %}

				{% if model %}
					<li class="list-group-item">
						<strong>Model:</strong> {{ model }}
					</li>
				{% endif %}

				{% if platform %}
					<li class="list-group-item">
						<strong>Platform:</strong> {{ platform }}
					</li>
				{% endif %}

				{% if body_type %}
					<li class="list-group-item">
						<strong>Body:</strong> {{ body_type }}
					</li>
				{% endif %}

				{% if version %}
					<li class="list-group-item">
						<strong>Version:</strong> {{ version }}
					</li>
				{% endif %}

			</ul>
		{% endif %}
	{% else %}
		{% if car %}
			<a href="{% url 'marketplace:new-listing' make=car.make years=car.years body_type=car.body_type %}" class="btn btn-primary">Sell your car!</a><p></p>
		{% else %}
			<p></p><div class="alert alert-primary" role="alert">
				Before <strong>selling your car</strong>, please select the following fields:
			</div>
			<ul class="list-group">

				{% if make %}
					<li class="list-group-item">
						<strong>Make:</strong> {{ make }}
					</li>
				{% endif %}

				{% if model %}
					<li class="list-group-item">
						<strong>Model:</strong> {{ model }}
					</li>
				{% endif %}

				{% if platform %}
					<li class="list-group-item">
						<strong>Platform:</strong> {{ platform }}
					</li>
				{% endif %}

				{% if body_type %}
					<li class="list-group-item">
						<strong>Body:</strong> {{ body_type }}
					</li>
				{% endif %}

				{% if version %}
					<li class="list-group-item">
						<strong>Version:</strong> {{ version }}
					</li>
				{% endif %}

			</ul>
		{% endif %}
	{% endif %}

	{% if car %}		
	{% else %}
		{% if make %}<p></p>{% endif %}
		<div class="col-sm-4" style="margin-left: -15px">
			<form action="" method="GET">
			    <input type="hidden" name="submitted" value="1" />
			    {{ form.as_p }}
			    <input type="submit" class="btn btn-secondary" value="Select" />
			</form>
		</div><p></p>
	{% endif %}

	<h2>Latest Listings
	{% if car %} for <a href="{% url 'reviews:car' make=car.make years=car.years body_type=car.body_type %}">{{ car }}</a>
	{% elif version %} for <a href="{% url 'reviews:years-select' make=make model=model platform=platform body_type=body_type version=version %}">{{ make }} {{ version }}</a>
	{% elif body_type %} for <a href="{% url 'reviews:version-select' make=make model=model platform=platform body_type=body_type %}">{{ make }} {{ body_type }}</a>
	{% elif platform %} for <a href="{% url 'reviews:body-select' make=make model=model platform=platform %}">{{ make }} {{ platform }}</a>
	{% elif model %} for <a href="{% url 'reviews:platform-select' make=make model=model %}">{{ make }} {{ model }}</a>
	{% elif make %} for <a href="{% url 'reviews:model-select' make %}">{{ make }}{% endif %}</a></h2>

	{% if not listings %}
		<div class="listing"><p><i>There are no listings for this car yet.</i></p></div>
	{% endif %}

	{% for listing in listings %}
		<div class="listing">
			@<a href="{% url 'home:member' listing.user.username %}">{{ listing.user }}</a> ({{ listing.created.date }})<br>
			<h4><a href="{% url 'marketplace:car-listing' make=listing.car.make years=listing.car.years body_type=listing.car.body_type listing_id=listing.id %}">{{ listing.title }}</a></h4>
			<p><kbd>{{ listing.year }} {{ listing.car.make }} {{ listing.car.version }}</kbd></p>
			<p><span class="fa fa-road" aria-hidden="true"></span>{{ listing.mileage }} km <span class="fa fa-euro" aria-hidden="true"></span>{{ listing.price|intcomma }}</p>
			{% if listing.photo1 %}
				<div id="images-feed">
					<img src="/{{ listing.photo1 }}" class="img-fluid" max-width="100%">
				</div>
			{% endif %}
		</div>
	{% endfor %}

</div>

{% endblock %}