.navbar-brand {
	font-family: Syncopate, sans-serif;
	font-weight: 700;
}


.container-fluid {
    max-width: 980px;
}


.car-title {
    color: white;
    background-color: rgba(17,17,17,0.5);
    padding: 15px;
    text-align: center;
    max-width: 1024px;
    margin-right: 15px;
    margin-top: 0px;
    position: absolute;
}


.listing-title {
    color: white;
    background-color: rgba(17,17,17,0.5);
    padding: 15px;
    text-align: center;
    max-width: 1024px;
    margin-right: 15px;
    margin-top: 0px;
    position: absolute;
}


.member-title {
    color: white;
    background-color: rgba(17,17,17,0.5);
    padding: 10px 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: absolute;
}


.review {
	border-left: 6px solid rgb(255, 165, 0);
    background-color: rgba(17,17,17,0.05);
	margin: 10px 0 15px 0;
	padding: 10px 10px 1px 10px;
}

.review h5 {
	margin-top: -3px;
    display: inline;
}


.listing {
    border-left: 6px solid rgb(16, 98, 122);
    background-color: rgba(17,17,17,0.05);
    margin: 10px 0 15px 0;
    padding: 10px 10px 1px 10px;
}


.opinion {
    border-left: 6px solid rgb(150, 0, 24);
    background-color: rgba(17,17,17,0.05);
    margin: 10px 0 15px 0;
    padding: 10px 10px 1px 10px;
}


.car_icon {
    position: relative;
    top: 0;
    left: -4px;
    width: 35px;
    height: auto;
}
.drive_icon {
    position: relative;
    top: -1px;
    left: -5px;
    width: 32px;
    height: auto;
}
.star_icon {
    position: relative;
    top: -4px;
    width: 22px;
    height: auto;
    margin-right: 5px;
}
.dollar_icon {
    position: relative;
    top: -4px;
    width: 22px;
    height: auto;
    margin-right: 5px;
}
.euro_icon {
    position: relative;
    top: -4px;
    width: 22px;
    height: auto;
    margin-right: 5px;
}
.image_icon {
    position: relative;
    top: -2px;
    left: -2px;
    width: 24px;
    height: auto;
}
.copyright_icon {
    position: relative;
    top: -2px;
    width: 22px;
    height: auto;
}
.make_icon {
    position: relative;
    top: -2px;
    width: 25px;
    height: auto;
}
.us_flag {
    position: relative;
    top: -2px;
    width: 45px;
    margin: -5px 0;
    height: auto;
}


.fa.fa-thumbs-up:hover {
  color: green;
}
.fa.fa-thumbs-down:hover {
  color: red;
}


.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}


#images {
    max-width: 1024px;
}

#images-feed {
    max-width: 400px;
}




/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    
    max-width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-image {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-image:hover,
.close-image:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}





@media only screen and (max-width: 700px) {
   h1 { 
      font-size: 1.6em;
      margin-top: 10px;
   }

    h3 { 
      font-size: 1.1em;
   }

   .car-title { 
      padding: 8px 10px;
   }

    .listing-title { 
      padding: 3px 6px;
   }

    .modal-content {
        max-width: 100%;
    }
}