<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>{% block title %}STEERR{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		<!-- HEADER -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="glyphicon glyphicon-menu-hamburger" style="color:white"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home:feed' %}">STEER<span style="color:orange;">R</span></a>
		</div>

		<!-- ITEMS -->
		<div class="collapse navbar-collapse" id="topNavBar">
			
			<ul class="nav navbar-nav">
				<li class="{% block reviews_active %}{% endblock %}">
					<a href="{% url 'reviews:make-select' %}">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Reviews
					</a>
				</li>
				<li class="{% block marketplace_active %}{% endblock %}">
					<a href="{% url 'marketplace:make-select' %}">
						<span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Marketplace
					</a>
				</li>
				{% if user.is_superuser %}
				<li class="">
					<a href="http://127.0.0.1:8000/admin/">
						<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Admin
					</a>
				</li>
				{% endif %}
			</ul>

			<form class="navbar-form navbar-left" role="search" method="get" action="#">
				<div class="form-group">
					<input type="text" class="form-control" name="q" value="">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li class="{% block register_active %}{% endblock %}">
					{% if user.is_authenticated %}
					<li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="{% url 'home:member' user.username %}">Profile</a></li>
				          <li><a href="{% url 'home:logout' %}">Logout</a></li>
				        </ul>
				    </li>
					{% else %}
					<a href="{% url 'home:register' %}">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Register
					</a>
					{% endif %}
				</li>
			</ul>

		</div>

	</div>
</nav>

{% block body %}
{% endblock %}
</body>

</html>