<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

	<title>{% block title %}STEERR | Your next car is here!{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">

			<a class="navbar-brand" href="{% url 'home:feed' %}">STEER<span style="color:orange;">R</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			    	<li class="{% block reviews_active %}{% endblock %}">
			    		<a class="nav-link" href="{% url 'reviews:make-select' %}">
			    			<span class="fa fa-star" aria-hidden="true"></span> Reviews
			    		</a>
			      	</li>

			      	<li class="{% block marketplace_active %}{% endblock %}">
			    		<a class="nav-link" href="{% url 'marketplace:make-select' %}">
			    			<span class="fa fa-shopping-cart" aria-hidden="true"></span> Marketplace
			    		</a>
			      	</li>

			      	{% if user.is_superuser %}
			      	<li class="nav-item">
			    		<a class="nav-link" href="http://127.0.0.1:8000/admin/">
			    			<span class="fa fa-lock" aria-hidden="true"></span> Admin
			    		</a>
			      	</li>
			      	{% endif %}
			    </ul>

			    <form class="form-inline my-2 my-lg-0" role="search" method="get" action="{% url 'home:search' %}">
			    	<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="q">
			    	<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
			    </form>

			    <ul class="navbar-nav ml-auto">
			    	{% if user.is_authenticated %}
			      	<li class="nav-item dropdown">
			        	<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        		<span class="fa fa-user" aria-hidden="true"></span> {{ user.username }}
			        	</a>
			        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			        		<a class="dropdown-item" href="{% url 'home:member' user.username %}">Profile</a>
			        		<a class="dropdown-item" href="{% url 'home:logout' %}">Logout</a>
			          	</div>
			     	</li>
			     	{% else %}
			     	<li class="{% block register_active %}{% endblock %}">
			    		<a class="nav-link" href="{% url 'home:register' %}">
			    			<span class="fa fa-pencil-square-o" aria-hidden="true"></span> Register
			    		</a>
			      	</li>
			      	{% endif %}
			      </ul>
			</div>

		</div>
	</nav>


{% block body %}
{% endblock %}
</body>

</html>


